In [3]:
X = c(12, 3, 3, 6, 11, 9, 9)
Y = c(125, 33, 45, 62, 105, 106, 92)
n = length(X)
one = rep(1, n)
A = cbind(X, one)
b = Y
A;b;

     X  one
[1,] 12 1
[2,]  3 1
[3,]  3 1
[4,]  6 1
[5,] 11 1
[6,]  9 1
[7,]  9 1

[1] 125  33  45  62 105 106  92

x = solve(t(A) %*% A) %*% t(A) %*% b; x

In [5]:
summary(lm(Y~X))

Call:
lm(formula = Y ~ X)

Residuals:
     1      2      3      4      5      6      7
 2.611 -5.566  6.434 -4.507 -8.075 11.552 -2.448

Coefficients:
            Estimate Std. Error t value Pr(>|t|)
(Intercept)  10.6254     7.2414   1.467 0.202208
X             9.3136     0.8736  10.662 0.000126 ***
---
Signif. codes:  0 '***' 0.001 '**' 0.01 '*' 0.05 '.' 0.1 ' ' 1

Residual standard error: 7.799 on 5 degrees of freedom
Multiple R-squared:  0.9579,	Adjusted R-squared:  0.9494
F-statistic: 113.7 on 1 and 5 DF,  p-value: 0.0001256

De storingsterm kunnen we op de volgende manier bepalen:

 $$ \mathbf{Ax} = \mathbf{b} + \epsilon \iff \epsilon = \mathbf{Ax-b} $$

In [9]:
e = A %*% x - b; e

     [,1]
[1,]  -2.611111
[2,]   5.566308
[3,]  -6.433692
[4,]   4.507168
[5,]   8.075269
[6,] -11.551971
[7,]   2.448029

In [10]:
sd(e)

[1] 7.119919

In [16]:
sqrt(sum((e - mean(e))^2)/(n-2))

[1] 7.799481

# EZ way

In [17]:
X = c(10, 2, 3, 7, 10, 10, 9)
Y = c(125, 30, 43, 65, 105, 101, 94)
summary(lm(Y~X))

Call:
lm(formula = Y ~ X)

Residuals:
      1       2       3       4       5       6       7
 18.042   1.234   4.460 -12.636  -1.958  -5.958  -3.184

Coefficients:
            Estimate Std. Error t value Pr(>|t|)
(Intercept)    9.218      9.926   0.929 0.395703
X              9.774      1.248   7.833 0.000544 ***
---
Signif. codes:  0 '***' 0.001 '**' 0.01 '*' 0.05 '.' 0.1 ' ' 1

Residual standard error: 10.55 on 5 degrees of freedom
Multiple R-squared:  0.9246,	Adjusted R-squared:  0.9096
F-statistic: 61.36 on 1 and 5 DF,  p-value: 0.0005441

In [19]:
A = cbind(X, rep(1, length(X))); A
b = Y; b

     X
[1,] 10 1
[2,]  2 1
[3,]  3 1
[4,]  7 1
[5,] 10 1
[6,] 10 1
[7,]  9 1

[1] 125  30  43  65 105 101  94

In [31]:
x = solve(t(A) %*% A) %*% t(A) %*% b; x

  [,1]
X 9.774
  9.218

In [24]:
e = A %*% x - b; e

     [,1]
[1,] -18.042
[2,]  -1.234
[3,]  -4.460
[4,]  12.636
[5,]   1.958
[6,]   5.958
[7,]   3.184

In [25]:
sd(e)

[1] 9.626924

In [29]:
sqrt(sum((e - mean(e))^2) / (n-2))

[1] 10.54577

Mailen naar N.Booij@nhl.nl.