In [1]:
X = c(7.688, 7.989, 8.713, 8.845, 9.157, 10.45, 10.73, 10.79, 11.91, 12.49)
Y = c(6.787, 10.7, 11.66, 12.88, 12.98, 13.32, 13.48, 13.93, 14.42, 16.43)

Om de famous five te bepalen zetten we de waarnemingen in de volgende matrix:

 $$ \mathbf{A} = \begin{bmatrix} \mathbf{1} && \mathbf{X} && \mathbf{Y} \end{bmatrix} $$

In [2]:
A = cbind(1,X,Y)
A

        X      Y
 [1,] 1  7.688  6.787
 [2,] 1  7.989 10.700
 [3,] 1  8.713 11.660
 [4,] 1  8.845 12.880
 [5,] 1  9.157 12.980
 [6,] 1 10.450 13.320
 [7,] 1 10.730 13.480
 [8,] 1 10.790 13.930
 [9,] 1 11.910 14.420
[10,] 1 12.490 16.430

Vervolgens worden de waarden bepaald met $\mathbf{A}^T \mathbf{A}$.

In [4]:
t(A) %*% A

          X         Y
   10.000   98.7620  126.587
X  98.762  999.5382 1283.128
Y 126.587 1283.1278 1661.943

En de famous five zelf zijn:

$\sum X$

In [5]:
sum(X)

[1] 98.762

$\sum Y$

In [6]:
sum(Y)

[1] 126.587

$\sum X^2$

In [7]:
sum(X^2)

[1] 999.5382

$\sum Y^2$

In [8]:
sum(Y^2)

[1] 1661.943

$ \sum XY $

In [9]:
sum(X*Y)

[1] 1283.128